img {
	border-radius: 50%;
	background-image: url(wetransfer-1a8064/zsolt.gif);
	background-size: cover;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}


#zsolt {
	background-image: url(wetransfer-1a8064/zsolt.gif);
	background-size: cover;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}

.none {
	display: none;
	
}

.color {
	display: block;
}