/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =================== End of CSS Reset ============== */
/*body * {
	border: 1px solid maroon;
}*/

/** {
	box-sizing: border-box;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 200;
	color: #fff;
	text-align: left;
	margin-top: 80px;
}

.container {
	display: flex;
	margin: 0 auto;
	background-color: #00589b;
	max-width: 90%;
	width: 950px;
	height: 620px;
	justify-content: space-between;
}

/* ================
	image-style
==================*/

.people {
	border-radius: 50%;
	cursor: pointer;
}

img {
	margin: 4px;
	width: 130px;
	height: 130px;
}

.container-circle {
	position: absolute;
	margin-top: .4em;
	margin-left: 12em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 600px;
	background-color: #fff;
	border-radius: 50%;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 1em;
	/*padding: 2em 0;*/
}

.wrapper-top {
	display: flex;
	align-items: flex-start;
}

.bottom {
	padding-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}


/* ================
	text-style
==================*/

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 0 0 .8em;
}

.de-text,
.hung-text {
	line-height: 1.3em;
	letter-spacing: 1px;
}

.de-text {
	padding-top: 0;
}

/* ================
	logo-style
==================*/

.logo-container {
	display: flex;
	align-items: flex-end;
	border-top: 25px solid red;
	margin-right: 1.7em;
	margin-bottom: .6em;
}

.fes-logo {
	width: 110px;
	height: 65px;
}

/*.top {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}*/

/*@media screen and (max-width: 1000px) {
	.container {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.wrapper {
		flex-direction: column;
	}
}*/

